## Observations and Insights

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np

# Study data files
mouse_metadata_one = "data/mouse_metadata.csv"
study_results_two = "data/study_results.csv"

# Read the mouse data and the study results
mouse_metadata_one = pd.read_csv("data/mouse_metadata.csv")
study_results_two =  pd.read_csv("data/study_results.csv")


# Combine the data into a single dataset
combined_mouse_metadata = pd.merge(mouse_metadata_one, study_results_two, on="Mouse ID")

# Create Data Frame
df = pd.DataFrame(combined_mouse_metadata)
print(df)

     Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]

In [72]:
# Display the data table for preview
combined_mouse_metadata.df head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [73]:
# Checking the number of mice.
unique_items = combined_mouse_metadata["Mouse ID"].nunique()
print(unique_items)

249

In [81]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

#drop_duplicates(Timepoint=None, Mouse_ID='first', inplace=True)

# duplicate_id = combined_mouse_metadata_df.loc[[combined_mouse_metadata_df.duplicated(subset=['Mouse ID', 'Timepoint'],['Mouse ID']]).unique()
duplicate_id = pd.merge[pd.merge.duplicate(subset=['Mouse ID', 'Timepoint']),'Mouse ID'].unique()

AttributeError: 'function' object has no attribute 'duplicate_id'

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
No_Duplicate = Merge_df[Merge_df['Mouse ID'].isin(duplicate_id)==False]

In [ ]:
# Checking the number of mice in the clean DataFrame.
unique_items = combined_mouse_metadata["Mouse ID"].nunique()
print(unique_items)

## Summary Statistics

In [84]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
combined_mouse_metadata.describe

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000
mean,12.814580,25.662441,19.572108,50.448381,1.021659
std,7.189592,3.921622,14.079460,8.894722,1.137974
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,7.000000,25.000000,5.000000,45.000000,0.000000
50%,13.000000,27.000000,20.000000,48.951474,1.000000
75%,20.000000,29.000000,30.000000,56.292200,2.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [89]:
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 

mean_numpy = np.mean(Tumor Volume)
print(f"The mean tumor volume per drug regimen is {mean_numpy}")

median_numpy = np.median(Tumor Volume)
print(f"The median tumor volume per drug regimen is {median_numpy}")

median_scipy = sts.mode('Tumor Volume')
print(f"The mode tumor volume per drug regimen is {mode_scipy}")

SyntaxError: invalid syntax (<ipython-input-89-9ad4976d0f3f>, line 4)

In [ ]:
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen